// Third-party
@import "node_modules/bootstrap/scss/bootstrap";

// Variables
@import 'variables';

// Custom
@import "./components/button.scss";
@import "./components/card.scss";
@import "./components/drawer.scss";
@import "./components/dropdown.scss";
@import "./components/forms.scss";
@import "./components/table.scss";
@import "./components/pagination.scss";

body, html {
  height: 100%;
}
body {
  background: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  color: $font-color-base;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

a {
  color: $font-color-primary;

  &:hover {
    color: $font-color-grey;
  }
}

#app {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
}

.main-content {
  overflow: auto;
  width: 100%;
  &__navbar {
    text-align: right;
    padding: 18px 36px;
    border-bottom: 1px solid rgba(0,0,0,.10);
  }
}

.content {
  padding: 36px;
}

.page-heading {
  h2 {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 1em;
  }
}

.navbar-light {
  background: #fff;
}

.navbar {
  border-bottom: 1px solid #ccc;
}