// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
$font-size-base: 0.90rem;
$line-height-base: 1.6;
$font-color-primary: #7854d9;
$font-color-base: #3c4257;
$font-color-grey: #666;

// Colour
$bg-primary: #7854d9;