.drawer {
  background: #f7fafc;
  border-right: 1px solid #e3e8ee;
  min-width: 250px;
  width: 250px;
  &>ul>li>a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  ul ul {
    padding-left: 15px;
    a {
      padding-left: 25px;
    }
  }
  h2 {
    font-size: 18px;
    margin: 0;
    padding: 18px 15px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
  }
  a {
    color: #666;
    display: block;
    padding: 7px 15px;
    &:hover {
      color: #333;
    }
  }
  .typcn {
    vertical-align: text-bottom;
    width: 25px;
    display: inline-block;
  }
}