.pagination {
  margin: 0;
}

.page-link, .page-item.disabled .page-link {
  padding: 0.3rem 0.75rem;
}

.page-item {
  &.active .page-link {
    background-color: $bg-primary;
    border-color: $bg-primary;
  }
}