.table {
  th {
    color: #666;
    font-weight: 300;
    border-top: 0;
  }
  td {
    vertical-align: middle;
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #dee2e6;
    color: $font-color-base;
  }
  .icon {
    height: 20px;
  }
  .btn {
    padding: 0 .2rem;
  }
}