.drawer {
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.12);
  min-width: 250px;
  width: 250px;

  h3 {
    font-size: 1em;
    margin: 30px 0 0;
    padding: 0 15px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e6eaee;
  }
}