.card-pagination {
  padding: 0;

  .pagination {
    margin: 0;
  }
  .page-link, .page-item.disabled .page-link {
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
  }
  .page-item:first-child .page-link {
    border-left: 0;
    border-radius: 0;
  }
  .page-item:last-child .page-link {
    border-radius: 0;
  }
}