.table {
  th {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
  }
  td {
    vertical-align: middle;
  }
  .typcn {
    font-size: 24px;
  }
}

.table-card {
  .card-header {
    padding: 0.75em;
  }
  .btn {
    padding-top: 0;
    padding-bottom: 0;
  }
}